body, html {
  margin: 0;
  padding: 0;
}

.container{
  width: 90%;
  margin: auto;
}
.header {
  height: 450px;
  width: 100%;
}

.header__navbar {
  width: 100px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
