body, html {
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito';
}

.header {
  height: auto;
  width: auto;
  background-color: #000;
}

.header__navbar {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 90%;
  margin: auto;
  position: relative;
}

.header__navbar--logo-title {
  color: #fff;
  font-size: 28px;
}
